<footer class="container">
	<div class="contacts" id="contacts">
		<h2>Contacts</h2>
		<p>Want to know more or just chat? </p>
		<p>You are welcome!</p>
		<button>Send message</button>
		<ul class="social">
			<li class="social__item">
				<a href="#"><img src="./assets/images/social-1.svg" alt="LinkedIn"></a>
			</li>
			<li class="social__item">
				<a href="#"><img src="./assets/images/social-2.svg" alt="Instagram"></a>
			</li>
			<li class="social__item">
				<a href="#"><img src="./assets/images/social-3.svg" alt="Behance"></a>
			</li>
			<li class="social__item">
				<a href="#"><img src="./assets/images/social-4.svg" alt="Dribble"></a>
			</li>
		</ul>
		<p>Like me on</p>
		<p>LinkedIn, Instagram, Behance, Dribble</p>
	</div>
</footer>
