<header class="container">
	<ul class="header__nav" >
		<li class="header__nav__item "><a href="#home" class="header__nav__link header__nav__link--active">Home</a></li>
		<li class="header__nav__item"><a href="#aboutMe" class="header__nav__link">About me</a></li>
		<li class="header__nav__item"><a href="#skills" class="header__nav__link">Skills</a></li>
		<li class="header__nav__item"><a href="#portfolio" class="header__nav__link">Portfolio</a></li>
		<li class="header__nav__item"><a href="#contacts" class="header__nav__link">Contacts</a></li>
	</ul>
	<button class="header__burder">
		<span>1</span>
		<span>2</span>
		<span>3</span>
	</button>
	<div class="right__nav" id="right__nav" href="#body" hidden>
		<div id="floating_menu">
			<a class="right__nav__item" href="#body"><p>H</p><p>ome</p></a>
			<a class="right__nav__item" href="#aboutMe"><p>A</p><p>bout me</p></a>
			<a class="right__nav__item" href="#skills"><p>S</p><p>kills</p></a>
			<a class="right__nav__item" href="#portfolio"><p>P</p><p>ortfolio</p></a>
			<a class="right__nav__item" href="#contacts"><p>C</p><p>ontacts</p></a>
		</div>
	</div>
<!-- 	<div id="">
		<a class="qwe active">test</a>
	</div> -->
</header>
	